<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Image Downloader</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <v-app>
            <v-dialog
            v-model="chooseSearchSite"
            persistent
            max-width="550"
            >
                <v-card>
                    <v-card-title class="headline">
                        Выбери пойсковую систему для пойска?
                    </v-card-title>
                    <v-card-text>У каждой пойсковой системы есть свои настройки для пойска. Более гибкая настройка у Bing, наиболее популярные картинки у Google</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                        color="blue darken-1"
                        text
                        @click="chooseSearchSite = false, bingSearch = true"
                        >
                        Bing
                        <v-icon>
                            mdi-bing
                            
                        </v-icon>
                        </v-btn>
                        <v-btn
                        color="red darken-1"
                        text
                        @click="chooseSearchSite = false, yandexSearch = true"
                        >
                        Yandex
                        <v-icon >
                            mdi-file-image-box
                        </v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-container style="text-align: center;" v-if="bingSearch == true">
                <v-form ref="form" v-model="valid"  lazy-validation class="d-flex justify-space-between flex-column">
                    <v-row>
                        <v-col
                            cols="8"
                            md="8"
                        >
                            <v-text-field
                                v-model="searchword"
                                :rules="searchWordRules"
                                :counter="10"
                                label="Search Word"
                                append-icon="mdi-magnify"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-btn
                    class="mx-2"
                    fab
                    dark
                    small
                    color="primary"
                    @click = 'AddSettingsToggle'
                    >
                    
                        <v-icon dark v-if="!AddSettings">
                        mdi-plus
                        </v-icon>
                        <v-icon dark v-if="AddSettings">
                        mdi-minus
                        </v-icon>
                    </v-btn>
                    
                    <transition name="slide-fade">
                        <div class="more" 
                        v-if="AddSettings"
                        >
                            <v-row>
                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-text-field
                                        v-model="imageCount"
                                        :rules="imageCountRules"
                                        :counter="2"
                                        label="Image count"
                                        required
                                    ></v-text-field>
                                </v-col>

                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-select
                                    v-model="imageColor"
                                    :items="bingColors"
                                    item-text="color"
                                    item-value="colorAPI"
                                    label="Image Color"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                    ></v-select>
                                </v-col> 
                            </v-row>

                            <v-row>
                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-select
                                    v-model="imageSize"
                                    :items="bingSizes"
                                    item-text="size"
                                    item-value="sizeAPI"
                                    label="Image Size"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                ></v-select>
                                </v-col>
                                <v-col
                                    cols="8"
                                    md="4"
                                >
                                    <v-select
                                    v-model="freshnes"
                                    :items="bingFreshness"
                                    item-text="value"
                                    item-value="valueAPI"
                                    label="Sort by popularity for"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                ></v-select>
                                </v-col> 
                            </v-row>
                            <v-row>
                                <v-col
                                    cols="8"
                                    md="4"
                                    >
                                        <v-select
                                        v-model="imageType"
                                        :items="bingImageTypes"
                                        item-text="type"
                                        item-value="typeAPI"
                                        label="Image type"
                                        :rules = "[v => !!v || `Search word is required`]"
                                        required
                                    ></v-select>
                                    </v-col>
                                <v-col
                                    cols="8"
                                    md="4"
                                >
                                    <v-checkbox
                                    v-model="safeSearch"
                                    label='Safe Search'
                                    required
                                    ></v-checkbox>
                                </v-col>
                                
                            </v-row>
                        </div>
                    </transition>

                    <div class="buttons">
                        <v-btn 
                        :disabled="!valid"
                        type = "submit"
                        color="success"
                        @click.prevent="submit"
                        >
                            Submit
                        </v-btn>

                        <v-btn
                        color="error"
                        @click.prevent="reset"
                        >
                            Reset
                        </v-btn>
                        
                        <v-btn
                        :bind="downloadURL"
                        v-if="downloadURL"
                        :href="`http://localhost:3000/${downloadURL}`"
                        target="_blank"
                        color="indigo"
                        >
                        <v-icon dark>
                            mdi-cloud-upload
                          </v-icon>
                        </v-btn>
                        
                        <v-progress-circular
                        indeterminate
                        color="purple"
                        v-else-if="imageLinks.length > 0"
                        ></v-progress-circular>


                        
                    </div>
                </v-form>

                 <v-row>
                    <v-col
                    v-for="(item, index) in imageLinks"
                    :item="item.url"
                    :key="index"
                    class="d-flex child-flex"
                    :cols="window.width > 1200 ? 4 : window.width < 620 ? 8 : 6"
                    >
                        <v-lazy
                            :options="{
                            threshold: .5
                            }"
                            min-height="200"
                            transition="fade-transition"
                        >
                            <v-card
                                class="justify-center"
                            >
                                <v-img
                                :src="item.url"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                >   
                                    <template v-slot:placeholder>
                                        <v-row
                                            class="fill-height ma-0"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-progress-circular
                                            indeterminate
                                            color="grey lighten-5"
                                            ></v-progress-circular>
                                        </v-row>
                                    </template>
                                </v-img>
                                <v-card-title 
                                    class="title text-caption"
                                >
                                        <a :href="item.url">
                                            {{item.title}}
                                        </a>
                                </v-card-title>
                            </v-card>
                        </v-lazy>
                    </v-col>
                </v-row>
            </v-container>

            <v-container style="text-align: center;" v-if="yandexSearch == true">
                <v-form ref="form" v-model="valid"  lazy-validation class="d-flex justify-space-between flex-column">
                    <v-row>
                        <v-col
                            cols="8"
                            md="8"
                        >
                            <v-text-field
                                v-model="searchword"
                                :rules="searchWordRules"
                                :counter="10"
                                label="Search Word"
                                append-icon="mdi-magnify"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-btn
                    class="mx-2"
                    fab
                    dark
                    small
                    color="primary"
                    @click = 'AddSettingsToggle'
                    >
                    
                        <v-icon dark v-if="!AddSettings">
                        mdi-plus
                        </v-icon>
                        <v-icon dark v-if="AddSettings">
                        mdi-minus
                        </v-icon>
                    </v-btn>
                    
                    <transition name="slide-fade">
                        <div class="more" 
                        v-if="AddSettings"
                        >
                            <v-row>
                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-text-field
                                        v-model="imageCount"
                                        :rules="imageCountRules"
                                        :counter="2"
                                        label="Image count"
                                        required
                                    ></v-text-field>
                                </v-col>

                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-select
                                    v-model="imageColor"
                                    :items="yandexColors"
                                    item-text="color"
                                    item-value="colorApi"
                                    label="Image Color"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                    ></v-select>
                                </v-col> 
                            </v-row>

                            <v-row>
                                <v-col
                                cols="8"
                                md="4"
                                >
                                    <v-select
                                    v-model="imageSize"
                                    :items="yandexSizes"
                                    item-text="size"
                                    item-value="sizeAPI"
                                    label="Image Size"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                ></v-select>
                                </v-col>
                                <v-col
                                    cols="8"
                                    md="4"
                                >
                                    <v-select
                                    v-model="imageOrientation"
                                    :items="yandexOrientattions"
                                    item-text="orientation"
                                    item-value="orientationApi"
                                    label="Image orientation"
                                    :rules = "[v => !!v || `Search word is required`]"
                                    required
                                ></v-select>
                                </v-col> 
                            </v-row>
                            <v-row>
                                <v-col
                                    cols="8"
                                    md="4"
                                    >
                                        <v-select
                                        v-model="imageType"
                                        :items="yandexImageTypes"
                                        item-text="imageType"
                                        item-value="typeApi"
                                        label="Image type"
                                        :rules = "[v => !!v || `Search word is required`]"
                                        required
                                    ></v-select>
                                </v-col>
                                
                                <v-col
                                    cols="8"
                                    md="4"
                                    >
                                        <v-select
                                        v-model="fileTypes"
                                        :items="yandexFileTypes"
                                        item-text="fileType"
                                        item-value="filTypeApi"
                                        label="Image file type"
                                        :rules = "[v => !!v || `Search word is required`]"
                                        required
                                    ></v-select>
                                </v-col>
                                
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-checkbox
                                    v-model="safeSearch"
                                    label='Safe Search'
                                    required
                                    ></v-checkbox>
                                </v-col>
                            </v-row>
                        </div>
                    </transition> 

                    <div class="buttons">
                        <v-btn 
                        :disabled="!valid"
                        type = "submit"
                        color="success"
                        @click.prevent="submit"
                        >
                            Submit
                        </v-btn>

                        <v-btn
                        color="error"
                        @click.prevent="reset"
                        >
                            Reset
                        </v-btn>
                        
                        <v-btn
                        :bind="downloadURL"
                        v-if="downloadURL && downloadURL != 'Картинок по вашему запросу не найдено'"
                        :href="`http://localhost:3000/${downloadURL}`"
                        target="_blank"
                        color="indigo"
                        >
                        <v-icon dark>
                            mdi-cloud-upload
                          </v-icon>
                        </v-btn>
                        
                        <v-progress-circular
                        indeterminate
                        color="purple"
                        v-else-if="imageLinks.length > 0 || searched == true"
                        ></v-progress-circular>

                        <v-alert
                        v-if="downloadURL == 'Картинок по вашему запросу не найдено'"
                        dismissible
                        type="error"
                        style="position: fixed; top: 20%; left: 20%;"
                        >Картинок по вашему запросу не найдено</v-alert>  
                        
                    </div>
                </v-form>

                 <v-row>
                    <v-col
                    v-for="(item, index) in imageLinks"
                    :item="item.url"
                    :key="index"
                    class="d-flex child-flex"
                    :cols="window.width > 1200 ? 4 : window.width < 620 ? 8 : 6"
                    >
                        <v-lazy
                            :options="{
                            threshold: .5
                            }"
                            min-height="200"
                            transition="fade-transition"
                        >
                            <v-card
                                class="justify-center"
                            >
                                <v-img
                                :src="item.url"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                >   
                                    <template v-slot:placeholder>
                                        <v-row
                                            class="fill-height ma-0"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-progress-circular
                                            indeterminate
                                            color="grey lighten-5"
                                            ></v-progress-circular>
                                        </v-row>
                                    </template>
                                </v-img>
                                <v-card-title 
                                    class="title text-caption"
                                >
                                        <a :href="item.url">
                                            {{item.title}}
                                        </a>
                                </v-card-title>
                            </v-card>
                        </v-lazy>
                    </v-col>
                </v-row>
            </v-container>
      </v-app>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            searched: false,
            chooseSearchSite: true,
            bingSearch: false,
            yandexSearch: false,
            window: {
                width: 0,
                height: 0
            },
            imageLinks: [],
            show: true,
            valid: true,
            AddSettings: false,
            searchword: '',
            imageColor: null,
            imageSize: null,
            freshnes: null,
            imageType: null,
            imageOrientation: null,
            fileTypes: null,
            safeSearch: true,
            downloadURL: '',
            searchWordRules: [
                v => !!v || `Search word is required`,
                v => (v && v.length <= 10) || `Search word must be less than 10 characters`,
            ],
            imageCount: '',
            imageCountRules: [
                v => !!v || `Image count is required`,
                v => isFinite(v) || 'Enter a number',
                v => (v && v > 0) || 'Enter a number greater than 0',
                v => (v && v < 25) || 'Enter a number less than 25',
                v => (v && v.length <= 2) || `Image count must be less than 2 characters`,
            ],
            bingColors: [
                {color: 'Colored', colorAPI: '&color=ColorOnly'},
                {color: 'Black-white', colorAPI: '&color=Monochrome'},
                {color: 'Black', colorAPI: '&color=Black'},
                {color: 'Brown', colorAPI: '&color=Brown'},
                {color: 'Gray', colorAPI: '&color=Gray'},
                {color: 'Green', colorAPI: '&color=Green'},
                {color: 'Orange', colorAPI: '&color=Orange'},
                {color: 'Pink', colorAPI: '&color=Pink'},
                {color: 'Purple', colorAPI: '&color=Purple'},
                {color: 'Red', colorAPI: '&color=Red'},
                {color: 'Teal', colorAPI: '&color=Teal'},
                {color: 'White', colorAPI: '&color=White'},
                {color: 'Yellow', colorAPI: '&color=Yellow'},
            ],
            bingSizes: [
                {size: 'All', sizeAPI: ' '},
                {size: 'Small', sizeAPI: '&size=Small'},
                {size: 'Medium', sizeAPI: '&size=Medium'},
                {size: 'Large', sizeAPI: '&size=Large'},
                {size: 'Wallpaper', sizeAPI: '&size=Wallpaper'},
            ],
            bingFreshness: [
                { value : 'All', valueAPI: ' ' },
                { value : 'Day', valueAPI: '&freshnes=Day' },
                { value : 'Week', valueAPI: '&freshnes=Week' },
                { value : 'Month', valueAPI: '&freshnes=Month' },
            ],
            bingImageTypes: [
                {type: 'All', typeAPI: ' '},
                {type: 'Animated Gif', typeAPI: '&imageType=AnimatedGif'},
                {type: 'Clipart', typeAPI: '&imageType=Clipart'},
                {type: 'Line', typeAPI: '&imageType=Line'},
                {type: 'Photo', typeAPI: '&imageType=Photo'},
                {type: 'Transparent', typeAPI: '&imageType=Transparent'},
            ],
            yandexSizes: [
                {size: 'All', sizeAPI: ' '},
                {size: 'Small', sizeAPI: '&isize=small'},
                {size: 'Medium', sizeAPI: '&isize=medium'},
                {size: 'Large', sizeAPI: '&isize=large'},
                {size: 'Wallpaper', sizeAPI: '&wp=wh16x9_1920x1080'},
            ],
            yandexOrientattions: [
                {orientation: 'All', orientationApi: ' '},
                {orientation: 'Horizontal', orientationApi: '&iorient=horizontal'},
                {orientation: 'Vertical', orientationApi: '&iorient=vertical'},
                {orientation: 'Square', orientationApi: '&iorient=square'},
            ],
            yandexImageTypes: [
                {imageType: 'All', typeApi: ' '},
                {imageType: 'Photo', typeApi: '&type=photo'},
                {imageType: 'Clipart', typeApi: '&type=clipart'},
                {imageType: 'Lineart', typeApi: '&type=lineart'},
                {imageType: 'Face', typeApi: '&type=face'},
                {imageType: 'Demotivator', typeApi: '&type=demotivator'},
            ],
            yandexColors: [
                {color: 'All', colorApi: ' '},
                {color: 'Colored', colorApi: '&icolor=color'},
                {color: 'Black-white', colorApi: '&icolor=gray'},
                {color: 'Red', colorApi: '&icolor=red'},
                {color: 'Orange', colorApi: '&icolor=orange'},
                {color: 'Yellow', colorApi: '&icolor=yellow'},
                {color: 'Cyan', colorApi: '&icolor=cyan'},
                {color: 'Blue', colorApi: '&icolor=blue'},
                {color: 'Violet', colorApi: '&icolor=violet'},
                {color: 'White', colorApi: '&icolor=white'},
                {color: 'Black', colorApi: '&icolor=black'},
            ],
            yandexFileTypes: [
                {fileType: 'All', filTypeApi: ' '},
                {fileType: 'JPEG', filTypeApi: '&itype=jpg'},
                {fileType: 'PNG', filTypeApi: '&itype=png'},
                {fileType: 'GIF', filTypeApi: '&itype=gifan'}
            ]
        },
        methods: {
            submit() {
                this.imageLinks = [];
                this.downloadURL = '';
                this.$refs.form.validate()
                this.valid = false;
                if (this.bingSearch == true) {
                    if (this.searchword && !this.AddSettings) {
                        console.log(`Слово для пойска ${this.searchword}, колличество запрошенных картинок ${this.imageCount}`)
                        const searchWordURL = this.searchword.split(' ').join('+');
                        let imageCountsURL;
                        this.imageCount.length == '' ? imageCountsURL = 3 :  imageCountsURL = this.imageCount;
                        const url = `https://api.bing.microsoft.com/v7.0/images/search?q=${searchWordURL}&count=${imageCountsURL}`
                        console.log(`Ссылка для запроса - ${url}`);
                        // API запрос для получения ссылок + названий картинок
                        axios
                            .get(url, { 
                                headers: {
                                    'Ocp-Apim-Subscription-Key' : 'enter you api key' 
                                }
                            })
                            .then(response => {
                                values = response.data.value;
                                this.imageLinks = [];
                                values.forEach(element => {
                                    imageName = element.name;
                                    imageLink = element.contentUrl;
                                    this.imageLinks.push({title: imageName, url : imageLink});
                                });
                                    this.valid = true;
                                // После удачного выполнения апи, делать запрос на сервер.
                                this.axiosPOSTBing();
                            })
                            .catch(error => console.log(error))
                        
                    } else if (this.searchword && this.imageCount && this.AddSettings){
                        // Переменные для API запроса
                        const searchWordURL = this.searchword.split(' ').join('+');
                        const imageCountsURL = this.imageCount;
                        const imageColorURL = this.imageColor;
                        const imageFollowSortURL = this.freshnes;
                        const imageTypeURL = this.imageType;
                        let safeSearchURL;
                        this.safeSearch == true ? safeSearchURL = '&safeSearch=strict' : safeSearchURL = '&safeSearch=off';
                        const imageSizeURL = this.imageSize;
                        console.log(`Слово для пойска ${this.searchword}, колличество запрошенных картинок ${this.imageCount}, основной цвет картинки ${this.imageColor}, сортировка по ${this.freshnes}, тип картинки ${this.imageType}, 18+ ${this.safeSearch}, размер картинки ${this.imageSize}`)
                        const url = `https://api.bing.microsoft.com/v7.0/images/search?q=${searchWordURL}&count=${imageCountsURL}${imageColorURL}${safeSearchURL}${imageTypeURL}${imageSizeURL}${imageFollowSortURL}`
                        console.log(`Ссылка для запроса - ${url}`);
                        // API запрос для получения сылок + названий картинок
                        axios
                            .get(url, { 
                                headers: {
                                    'Ocp-Apim-Subscription-Key' : 'enter you api key' 
                                }
                            })
                            .then(response => {
                                values = response.data.value;
                                this.imageLinks = [];
                                values.forEach(element => {
                                    imageName = element.name;
                                    imageLink = element.contentUrl;
                                    this.imageLinks.push({title: imageName, url : imageLink});
                                });
                                this.valid = false;
                                setTimeout(() => {
                                    this.valid = true;
                                }, 5000);
                                // После удачного выполнения апи, делать запрос на сервер.
                                this.axiosPOSTBing();
                            })
                            .catch(error => console.log(error))
                    } else {
                        console.log('Пользователь не заполнил форму.')
                    }
                } else if (this.yandexSearch == true) { 
                    if (this.searchword && !this.AddSettings) {
                        console.log(`Слово для пойска ${this.searchword}, колличество запрошенных картинок ${this.imageCount}`)
                        const searchWordURL = this.searchword.split(' ').join('+');
                        let imageCountsURL;
                        this.imageCount.length == '' ? imageCountsURL = 3 :  imageCountsURL = this.imageCount;
                        const url = `https://yandex.ru/images/search?text=${searchWordURL}`
                        console.log(`Ссылка для запроса - ${url}`);
                        // Отправляем ссылку на бекенд для дальнейшего парсинга
                        this.searched = true;
                        this.POSTyandex(url, imageCountsURL)
                            .then( ()=> {
                                this.valid = false;
                                setTimeout(() => {
                                    this.valid = true;
                                }, 5000);
                            })
                    } else if (this.searchword && this.imageCount && this.AddSettings){
                        // Переменные для API запроса
                        const searchWordURL = this.searchword.split(' ').join('+');
                        const imageCountsURL = this.imageCount;
                        const imageColorURL = this.imageColor;
                        const imageOrientation = this.imageOrientation;
                        const imageTypeURL = this.imageType;
                        const imageFileURL = this.fileTypes;
                        const imageSizeURL = this.imageSize;
                        let safeSearchURL;
                        this.safeSearch == true ? safeSearchURL = '&family=yes' : safeSearchURL = '&family=no';
                        console.log(`Слово для пойска ${this.searchword}, колличество запрошенных картинок ${this.imageCount}, основной цвет картинки ${this.imageColor}, сортировка по ${this.freshnes}, тип картинки ${this.imageType}, 18+ ${this.safeSearch}, размер картинки ${this.imageSize}`)
                        const url = `https://yandex.ru/images/search?text=${searchWordURL}${imageColorURL}${imageTypeURL}${imageSizeURL}${imageOrientation}${imageFileURL}${safeSearchURL}`
                        console.log(`Ссылка для запроса - ${url}`);
                        // API запрос для получения ссылок + названий картинок
                        this.POSTyandex(url, imageCountsURL)
                            .then( ()=> {
                                this.valid = false;
                                setTimeout(() => {
                                    this.valid = true;
                                }, 5000);
                            })
                    } else {
                        console.log('Пользователь не заполнил форму.')
                    }
                }
            },
            reset() {
                this.imageLinks = [];
                this.$refs.form.reset()
            },
            AddSettingsToggle() {
                this.AddSettings ? this.AddSettings = false : this.AddSettings = true
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            async axiosPOSTBing() { // Функция запроса на сервер
                let dwnURL = '';
                // Создаем параметр который будем дальше отправлять
                const params = new URLSearchParams();
                params.append('imgLinkInServer', JSON.stringify(this.imageLinks));
                await axios.post('http://localhost:3000/download-bing', params)
                .then(function (response) {
                    console.log('Это респонз - ', response);
                    dwnURL = response.data.URL // Присвоим полученную строку, значению downloadURL
                    return dwnURL;
                })
                .catch(function (error) {
                    console.log('Это ошибка -', error);
                });
                this.downloadURL = dwnURL;
            },
            async POSTyandex(urlFromParse, imageCount) {
                console.log('Выполняется POSTGoogle')
                console.log(urlFromParse, ' Это url')
                let dwnURL = '';
                // Создаем параметр который будем дальше отправлять
                const params = new URLSearchParams();
                params.append('imageCountInServer', JSON.stringify(imageCount));
                params.append('urlFromParseInServer', JSON.stringify(urlFromParse));
                await axios.post('http://localhost:3000/download-yandex', params)
                .then(function (response) {
                    console.log('Это респонз - ', response);
                    dwnURL = response.data.URL
                    imagesArr = response.data.imageArray // Присвоим полученную строку, значению downloadURL
                    return imagesArr;
                })
                .catch(function (error) {
                    console.log('Это ошибка -', error);
                });
                this.imageLinks = imagesArr;
                this.downloadURL = dwnURL;
                this.searched = false;
            }
        },
        created() {
            // Возвращает ширину и высоту экрана пользователя 
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        }
      })
    </script>
  </body>
  </html>

